<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="https://avatars.githubusercontent.com/u/53011298?v=4" alt="profile icon" class="w-10 h-10 p-2 rounded-full"/>
      <span class="ml-3 text-xl">Oli Everard</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="/">Home</a>
      <a class="mr-5 hover:text-gray-900" href="/repositories">Github Repositories</a>
      <a class="mr-5 hover:text-gray-900" href="/tools">Tools</a>
      <a class="mr-5 hover:text-gray-900" href="/useless-projects">Useless Projects</a>
      <a class="mr-5 hover:text-gray-900" href="/privacy">Privacy Policy</a>
    </nav>
    <a href="https://www.paypal.com/donate/?hosted_button_id=7XLTAMAVVCZ6E" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"/>Donate
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
  </div>
</header>