<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <img src="https://www.olieverard.co.uk/iconCreator/icon-converter-icon.png"
            class="max-w-[80%] transition duration-300 ease-linear align-middle"/>
          <a href="https://olieverard.co.uk/iconCreator">
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Icon File Generator</h2>
            <p class="leading-relaxed">Simple tool to convert images to .ico files for use as favicons or other small icons</p>
            <a href="https://www.olieverard.co.uk/iconCreator/" class="text-blue-500 inline-flex items-center mt-4">Go To Page
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <!-- COPY FROM HERE  -->
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <img src="https://www.olieverard.co.uk/heic2jpg/heic2jpg-icon.png"
            class="max-w-[80%] transition duration-300 ease-linear align-middle"/>
          <a href="https://olieverard.co.uk/heic2jpg">
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Bulk HEIC to JPG Tool</h2>
            <p class="leading-relaxed">This tool converts HEIC to JPG. Please upload a single HEIC file, or a zip containing multiple HEIC files.</p>
            <a href="https://www.olieverard.co.uk/heic2jpg" class="text-blue-500 inline-flex items-center mt-4">Go To Page
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <!-- COPY TO HERE  -->
        <!-- COPY FROM HERE  -->
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <img src="https://www.olieverard.co.uk/pdf2jpg/pdf2jpg-icon.png"
            class="max-w-[80%] transition duration-300 ease-linear align-middle"/>
          <a href="https://olieverard.co.uk/pdf2jpg">
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">PDF to JPG</h2>
            <p class="leading-relaxed">Converts a PDF to a JPG</p>
            <a href="https://www.olieverard.co.uk/pdf2jpg" class="text-blue-500 inline-flex items-center mt-4">Go To Page
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <!-- COPY TO HERE  -->
        <!-- COPY FROM HERE  -->
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <img src="https://www.olieverard.co.uk/jpg2pdf/jpg2pdf-icon.png"
            class="max-w-[80%] transition duration-300 ease-linear align-middle"/>
          <a href="https://olieverard.co.uk/jpg2pdf">
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">COMING SOON JPG to PDF</h2>
            <p class="leading-relaxed">Converts a PDF to a JPG/p>
            <a href="https://www.olieverard.co.uk/jpg2pdf" class="text-blue-500 inline-flex items-center mt-4">Go To Page
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <!-- COPY TO HERE  -->



   


      </div>
    </div>
  </section>